<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="BallsGame"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".choose_place"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".choose_team"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".players_4_aerohockey"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".no_internet_activity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".no_internet_aerohockey"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".choose_location_1_player"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".player_1_aerohockey"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".golf_result"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".player_2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity6"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>